/* Google fonts */

body,
input,
textarea,
button {
  font-family: Quicksand, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
}

/* https://type-scale.com/ */

h1 {font-size: 2.258em;}

h2 {font-size: 2.074em;}

h3 {font-size: 1.728em;}

h4 {font-size: 1.44em;}

h5 {font-size: 1.2em;}

small, .text_small {font-size: 0.833em;}
